
.App {
    width: 500px;
    height: auto;
    margin: 12vh auto;
    position: relative;
}
.App .sam-todos {
    background-color: #58C9B9;
    box-shadow: 0px 2px 5px 4px #9DC8C8;
    border-radius: 5px;
}

.App .sam-header h1 {
    margin: 0px;
    font-size: 40px;
}
.App .sam-header {
    text-align: center;
    height: 10vh;
}